# Second Python Notebook

Hello worlds

In [1]:
import pandas as pd

In [2]:
my_list = [2,3,4,5]

In [3]:
## We have to put this list into a series to be able to do statistics with it

In [4]:
my_series = pd.Series(my_list)

In [5]:
## Describe will bring up some basic stats on our list

In [6]:
my_series.describe()

count    4.000000
mean     3.500000
std      1.290994
min      2.000000
25%      2.750000
50%      3.500000
75%      4.250000
max      5.000000
dtype: float64

In [7]:
## Pull real data from a csv into the program and assign a variable

In [8]:
## This is called a DataFrame once it has been imported

In [9]:
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [10]:
## You can use the info command to get the results from the above import

In [27]:
props.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
ocd_prop_id               102 non-null object
calaccess_prop_id         102 non-null int64
ccdc_prop_id              102 non-null int64
prop_name                 102 non-null object
ccdc_committee_id         102 non-null int64
calaccess_committee_id    102 non-null int64
committee_name            102 non-null object
committee_position        102 non-null object
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [28]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

In [13]:
## Head will display the first 5 rows of data

In [14]:
## contribs.head()

In [15]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
calaccess_committee_id          56379 non-null int64
committee_name                  56379 non-null object
calaccess_filing_id             56379 non-null int64
date_received                   56379 non-null object
contributor_lastname            56375 non-null object
contributor_firstname           53411 non-null object
contributor_city                56369 non-null object
contributor_state               56363 non-null object
contributor_zip                 56366 non-null object
contributor_employer            48572 non-null object
contributor_occupation          53273 non-null object
contributor_is_self_employed    56379 non-null bool
amount                          56379 non-null float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 5.2+ MB

In [16]:
## We can pull out specific info from the DataFrame by name and count it

In [17]:
# props.prop_name.value_counts()

In [18]:
# Resetting the index will give us an ordered list

In [19]:
# props.prop_name.value_counts().reset_index()

In [20]:
# Filtering the data frame for useful info

In [21]:
# From that result we can copy the full name of the proposition and place it between quotation
# marks to form the filter expression expected by pandas.

In [29]:
#props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.'

In [23]:
#That expression is then placed between two flat brackets following the variable we want to 
#filter. Place the following code in the next open cell in your notebook. and create a singular
# list of the one prop we want

In [24]:
prop = props[props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.']

In [25]:
#Merging two DataFrames is as simple as passing both to pandas built-in merge method and 
#specifying which field weâ€™d like to use to connect them together. We will save the result into 
#another new variable.That new DataFrame variable can be inspected like any other.

In [26]:
merged = pd.merge(prop, contribs, on="calaccess_committee_id")

In [31]:
#merged.info()

In [32]:
merged.amount.sum()

35177017.640000001

In [33]:
merged.committee_position.value_counts()

SUPPORT    762
OPPOSE      98
Name: committee_position, dtype: int64

In [34]:
support = merged[merged.committee_position =='SUPPORT']

In [35]:
oppose = merged[merged.committee_position == 'OPPOSE']

In [36]:
oppose.amount.sum()

2501211.6400000001

In [37]:
support.amount.sum()

32675806.0

In [38]:
support.amount.sum() / merged.amount.sum()

0.92889642704798669

In [ ]:
# How to sort

In [40]:
merged.sort_values("amount", ascending=False).head(1)

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
142,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2083528,2016-09-15,PARKER AND AFFILIATED ENTITIES,SEAN,PALO ALTO,CA,94301,NaN,NaN,False,4000000.0

In [41]:
support.sort_values("amount", ascending=False).head(1)

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
142,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2083528,2016-09-15,PARKER AND AFFILIATED ENTITIES,SEAN,PALO ALTO,CA,94301,NaN,NaN,False,4000000.0

In [42]:
oppose.sort_values("amount", ascending=False).head(1)

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
839,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,463,1387789,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",OPPOSE,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",2083142,2016-07-20,SCHAUER,JULIE,OAKS,PA,19456,NaN,RETIRED,False,1000000.0

In [ ]:
# Group by pandas created an'x' and 'y' of some column names because they existed in both lists

In [45]:
merged.groupby("committee_name_x").amount.sum().reset_index().sort_values("amount", ascending=False).head(2)

                                     committee_name_x      amount
10  YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...  15734047.0
4        FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))   6140000.0

In [ ]:
# Group by multiple fields

In [49]:
merged .groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(2)

,contributor_firstname,contributor_lastname,committee_position,amount
483,SEAN,PARKER AND AFFILIATED ENTITIES,SUPPORT,7250000.0
482,SEAN,PARKER,SUPPORT,1500000.0